body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#competencies {
    border-spacing: 0.75cm 0.5cm;
}

header {
    background-color: #9BB0C1;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#visitor-count {
    margin-top: 40px;
}

#footer {
    text-align: center;
    margin-top: auto;
    padding: 10px;
    background-color: #333;
    color: white;
    width: 100%;
}
